<h1>Cubes Dev - Admin</h1>
<nav>
    <ul>
        <h3><b>Pozdrav <%= current_admin.first_name%>!</b></h3>
        <b><%= link_to "Odjavi se", destroy_admin_session_path, :method => :delete %></b>
        <br><br>

        <li><%= link_to "Administratori", admin_admins_path %></li>
        <li><%= link_to "Projekti", admin_projects_path %></li>
    </ul>
</nav>
