<% flash.each do |type, msg| %>
  <div class="notification">
    <span class="toast"><span id="close"><b>×</b> </span><%= msg %></span>
  </div>
<% end %>


<script>
 document.addEventListener("turbo:load", function() {
   const close = document.getElementById("close");
   if (close) {
     close.addEventListener("click", function() {
       this.parentElement.style.transition = "all 0.5s ease";
       this.parentElement.style.display = "none";
     });
   }
 });
</script>

<style>
  #close{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  span.toast{
    font-size: 25px;
  }
  #close:hover{
    color: red;
  }

</style>

