<% content_for :title, "Projekti" %>
<h2>Projekti</h2>
<table>
    <tr class="table-heading">
        <th>Naziv projekta</th>
        <th>Opis</th>
        <th>Kategorija</th>
        <th>URL stranice</th>
        <th>Tehnologije</th>
        <th>Slika</th>
        <th>Akcije</th>
    </tr>
    <% @projects.each do |project| %>
        <tr>
            <td><%= project.title %></td>
            <td><%= project.description %></td>
            <td><%= project.category %></td>
            <td><%= project.site_url %></td>
            <td><%= project.technologies %></td>
            <td><%= image_tag project.image_url, height: "100px"%></td>
            <td>
                <%= link_to "Uredi", admin_projects_url(project_id: project.id) %>
                <%= link_to "Obriši", admin_project_path(project), :method => :delete, data: {confirm: "Jeste li sigurni?"} %>
            </td>
        </tr>
    <% end %>
</table>

<%= form_for [:admin, @project], data: { turbo:false } do |form| %>
    <h2><%= @project.persisted? ? "Uredi projekt" : "Dodaj novi projekt" %></h2>

    <fieldset>
    <div class="input-group vertical">
        <%= form.label :title, "Naziv projekta", class: "form-label"%>
        <%= form.text_field :title, class: "input"%>
    </div>

    <div class="input-group vertical">
        <%= form.label :description, "Opis", class: "form-label"%>
        <%= form.text_field :description, class: "input-area"%>
    </div>
    <div class="input-group vertical">
        <%= form.label :category, "Kategorija", class: "form-label"%>
        <%= form.select :category, ["Web dizajn", "Web stranica", "Web shop", "Web aplikacija"] %>
    </div>

    <div class="input-group vertical">
        <%= form.label :site_url, "URL stranice", class: "form-label"%>
        <%= form.text_field :site_url, class: "checkbox_input"%>
    </div>

    <div class="input-group vertical">
        <%= form.label :technologies, "Tehnologije", class: "form-label"%>
        <%= form.text_field :technologies, class: "input-area"%>
    </div>

    <div class="input-group horizontal">
        <%= form.label :image, "Slika", class: "form-label"%>
        <%= form.file_field :image, prompt: "Učitaj sliku" %>
    </div>
    <% if @project.persisted? %>
        <%= image_tag @project.image_url, height: "50px"%>
    <% end %>
    
    <div><%= form.submit @project.persisted? ? "Uredi" : "Spremi", class: "submit input-group"%></div>
    </fieldset>
<% end %>