<% content_for :title, "Administratori" %>

<h2>Administratori</h2>
<table>
    <tr class="table-heading">
        <th>Ime</th>
        <th>Prezime</th>
        <th>Email</th>
        <th>Superadmin</th>
        <% if current_admin.is_superadmin %>
            <th>Akcije</th>
        <% end %>
    </tr>
    <% @admins.each do |admin| %>
        <tr>
            <td><%= admin.first_name %></td>
            <td><%= admin.last_name %></td>
            <td><%= admin.email %></td>
            <td><%= admin.is_superadmin ? "Da" : "Ne" %></td>
            <% if current_admin.is_superadmin %>
                <td>
                    <%= link_to "Uredi", admin_admins_path(admin_id: admin.id) %>
                    <%= link_to "Obriši", admin_admin_path(admin), method: :delete, data:{confirm: "Jeste li sigurni?"} %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>

<% if current_admin.is_superadmin %>
    <%= form_for [:admin, @admin], data: { turbo:false } do |form| %>
        <fieldset>
            <legend><%= @admin.persisted? ? "Uredi administratora" : "Dodaj novog administratora" %></legend>
            <div class="input-group vertical">
                <%= form.label :first_name, "Ime", class: "form-label"%>
                <%= form.text_field :first_name, class: "input"%>
            </div>

            <div class="input-group vertical">
                <%= form.label :last_name, "Prezime", class: "form-label"%>
                <%= form.text_field :last_name, class: "input"%>
            </div>

            <div class="input-group vertical">
                <%= form.label :email, "Email", class: "form-label"%>
                <%= form.email_field :email, class: "input"%>
            </div>

            <div class="input-group vertical">
                <%= form.label :is_superadmin, "Superadmin?", class: "form-label"%>
                <%= form.check_box :is_superadmin, {class: "checkbox_input"}, "true", "false"%>
            </div>

            <div class="input-group vertical">
                <%= form.label :password, "Lozinka", class: "form-label"%>
                <%= form.text_field :password, class: "input"%>
            </div>

            <%= form.submit @admin.persisted? ? "Uredi" : "Spremi", class: "submit"%>
        </fieldset>
    <% end %>
<% end %>