<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? "Cubes Dev | " + yield(:title) : "Cubes Dev" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/admin/navigation" %>
    
    <%= yield %>

    <%= render "layouts/admin/notification" %>
  </body>
</html>
